<style>
    p {
        font-size: 20px;
    }

    .container{
        display: flex;
        border: 1px solid #E29926;
        max-width: fit-content;
        padding: 10px;
        margin-bottom: 12px;
        background-color: #fff;
        box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0px 0 1px rgba(10,10,10,0.02);
        color: #4a4a4a;
        max-width: 100%;
        position: relative;
        margin-left: 40px;
    }
</style>

<div class="container">
    <p></p>
    <karma-button eventName="accept" name=✓ title= "Validar la respuesta. Los cambios no se podrán deshacer."></karma-button>
    <karma-button eventName="decline" id="decline" name=✗ title = "Eliminar la respuesta. Los cambios no se podrán deshacer."></karma-button>
</div>