<style>
    .questionContainer {
        margin-top: 1.5em;
        margin-bottom: 1.5em
    }

    .title{
        display: inline;
        margin-right: 1.5em;
        cursor: pointer;
    }

    .questionAndAnswers{
        border-left: 2px solid #2A7886;
        max-width: fit-content;
        padding: 10px;
        margin-bottom: 12px;
        background-color: #fff;
        box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0px 0 1px rgba(10,10,10,0.02);
        color: #4a4a4a;
        max-width: 100%;
        position: relative;
    }

    .activeQuestion{
        color:white;
        border-radius: 100px ; 
        margin: 30px; 
        padding: 10px; 
        background-color: #b3c33f;
    }

    .completedQuestion{
        color:white;
        border-radius: 100px ; 
        margin: 30px; 
        padding: 10px; 
        background-color: #bdbdbd;
    }

</style>
<div class="questionAndAnswers">
    <div class="questionContainer">
        <h1 class="title"></h1>
        <karma-button name="Cerrar Pregunta" id="close-question" eventName="closeQuestion"></karma-button>
    </div>
    <answers-list></answers-list>
</div>
